body {
  margin: 0;
  padding: 0;
  font-family: "Playpen Sans", cursive;
  font-weight: 300;
  background-color: rgb(249, 176, 244);
  color: #333;
}

.App {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: aliceblue;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: #222;
  margin-bottom: 0;
  padding-bottom: 0;
}

p {
  margin-top: 10px;
  padding-top: 0;
  margin-bottom: 30px;
}

.question-container {
  text-align: left;
}

.question-text {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.option-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.option-item {
  background-color: #f0f0f0;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.option-item:hover {
  background-color: #d9eaff;
}

.result-container {
  text-align: center;
  padding: 10px 20px;
}

.result-text {
  font-size: 24px;
  margin-bottom: 60px;
  color: #222;
  font-weight: 600;
}

.restart-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.restart-button:hover {
  background-color: #0056b3;
}


@media (max-width: 480px) {

  .App {
    margin: 20px 5px;
    padding: 20px;
    border-radius: 12px;
  }

  .question-text {
    font-size: 18px;
  }

  .option-item {
    font-size: 16px;
    padding: 10px 14px;
  }

  result-text {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .restart-button {
    font-size: 20px;
    padding: 10px 16px;
  }

}